@charset "UTF-8";
/* template colours stored as variables */
/* mixins for grouped styles */
/* Apply SASS to css ⬇️ */
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  background-color: #e0e8ff;
}

.background {
  width: 100vw;
  height: 38vh;
}

.main_wrapper {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
  min-width: 310px;
  background-color: white;
}

.img_wrapper {
  margin-bottom: 0;
}

.hero_banner {
  border-radius: 20px 20px 0px 0px;
  max-height: 100%;
  max-width: 100%;
}

.order_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 418px;
  padding: 1rem;
}

.order_info_wrapper p {
  text-align: center;
  line-height: 2rem;
  color: #1f2f56;
}

.annual_plan {
  background-color: #f5f7ff;
  border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.icon_music {
  width: 50px;
  height: 50px;
  margin: auto;
}

.plan_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan_child p {
  color: #7280a7;
  font-weight: 300;
  margin: auto;
}

.change {
  color: #1f2f56;
  margin: auto;
  padding-left: 1rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.payment_button {
  color: white;
  background-color: #3829e0;
  width: 100%;
  padding: 1rem 0 1rem;
  margin-bottom: 1rem;
  border: hidden;
  border-radius: 10px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  -webkit-box-shadow: 0px 10px 18px #8d88d8;
          box-shadow: 0px 10px 18px #8d88d8;
}

.cancel_button {
  color: grey;
  background-color: transparent;
  width: 100%;
  padding: 1rem 0 1rem;
  border: hidden;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
}

@media (max-width: 375px) {
  .background {
    display: none;
  }
}

.change:hover:hover,
.payment_button:hover:hover,
.cancel_button:hover:hover {
  cursor: pointer;
  text-decoration: none;
}

.change:hover {
  color: #8d88d8;
}

.payment_button:hover {
  background-color: #766edd;
}

.cancel_button:hover {
  color: black;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */